$color_ok: #40d47e;
$color_soft: #3498db;


* {
    margin: 0;
    padding: 0;
    font-family: 'Nobile', sans-serif;
}

html, body {
    height: 100%;
}

.bethins_splitview {
    display: flex;
    min-height: 100vh;

    .part {
        width: 100%;
    }

}

.bethins_sidebar {
    width: 25% !important;
    border-right-color: lightgray;
    border-right-style: solid;
    border-right-width: 1px;

    .part {
        min-height: 100%;
        width: 100%;
    }

    .bethins_sidebtn {
        width: 100%;
        height: 48px !important;
        vertical-align: middle;
        line-height: 48px;
        color: black;
        display: block;
        border-bottom-color: lightgray;
        border-bottom-style: solid;
        border-bottom-width: 1px;

        span {
            padding: 1em;
        }

        &:hover {
            cursor: pointer;
            color: $color_ok;
        }
    }

    section:first-child {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        overflow: hidden;
        display: flex;
        height: 25%;
        flex-wrap: wrap;

        section {
            padding: 1em;
            width: 100%;
        }

        ul, li {
            list-style: none;
            margin-bottom: 1em;
        }
    }
}

#bethins_sidecontent {
    section {
        padding: 1em;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.ct-series .ct-line {
    stroke: $color_ok !important;
}

.ct-series-a .ct-point {
    stroke: black !important;
}

.hero {
    width: 100%;
    height: 32em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    h1, h2, {
        font-size: 6em;
    }
    
    p {
        font-size: 2.5em;
    }
}

.hero-btn {
    min-width: 92px;
    height: 32px;
    line-height: 32px;
    padding: 1em;
    color: white;
    background-color: $color_ok;
    text-align: center;
    transition: .2s;
    font-size: 2em;

    &:hover {
        cursor: pointer;
        background-color: $color_soft;
        transition: .2s;
    }
}

.centered_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bethins_content {
    min-height: 100vh;
}

.bethins_navbar {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: black;

    ul, li {
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;

        .bethins_navbtn {
            color: white;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.bethins_topbottom {
    background-color: none !important;
}

.padded {
    padding: 1em;
}
