* {
  margin: 0;
  padding: 0;
  font-family: 'Nobile', sans-serif; }

html, body {
  height: 100%; }

.bethins_splitview {
  display: flex;
  min-height: 100vh; }
  .bethins_splitview .part {
    width: 100%; }

.bethins_sidebar {
  width: 25% !important;
  border-right-color: lightgray;
  border-right-style: solid;
  border-right-width: 1px; }
  .bethins_sidebar .part {
    min-height: 100%;
    width: 100%; }
  .bethins_sidebar .bethins_sidebtn {
    width: 100%;
    height: 48px !important;
    vertical-align: middle;
    line-height: 48px;
    color: black;
    display: block;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    .bethins_sidebar .bethins_sidebtn span {
      padding: 1em; }
    .bethins_sidebar .bethins_sidebtn:hover {
      cursor: pointer;
      color: #40d47e; }
  .bethins_sidebar section:first-child {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    display: flex;
    height: 25%;
    flex-wrap: wrap; }
    .bethins_sidebar section:first-child section {
      padding: 1em;
      width: 100%; }
    .bethins_sidebar section:first-child ul, .bethins_sidebar section:first-child li {
      list-style: none;
      margin-bottom: 1em; }

#bethins_sidecontent section {
  padding: 1em; }

.left {
  float: left; }

.right {
  float: right; }

.ct-series .ct-line {
  stroke: #40d47e !important; }

.ct-series-a .ct-point {
  stroke: black !important; }

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero h1, .hero h2 {
    font-size: 6em; }
  .hero p {
    font-size: 2.5em; }

.hero_btn {
  min-width: 92px;
  height: 32px;
  line-height: 32px;
  padding: 1em;
  color: white;
  background-color: #3498db;
  text-align: center;
  transition: .2s;
  font-size: 2em;
  text-decoration: none;
  border: none;
  display: inline-block; }
  .hero_btn:hover {
    cursor: pointer;
    background-color: #40d47e;
    transition: .2s; }

.btn {
  min-width: 92px;
  min-height: 16px;
  line-height: 16px;
  padding: 0.5em;
  color: white;
  background-color: #3498db;
  text-align: center;
  transition: .2s;
  font-size: 100%;
  text-decoration: none;
  border: none;
  display: inline-block; }
  .btn:hover {
    cursor: pointer;
    background-color: #40d47e;
    transition: .2s; }

input.hero_btn {
  height: auto !important; }

.centered_content {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrap {
  flex-wrap: wrap !important;
  flex-direction: column; }

#bethins_content {
  min-height: 100vh; }

.bethins_navbar {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: black; }
  .bethins_navbar ul, .bethins_navbar li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em; }
    .bethins_navbar ul .bethins_navbtn, .bethins_navbar li .bethins_navbtn {
      color: white;
      text-decoration: none; }
      .bethins_navbar ul .bethins_navbtn:hover, .bethins_navbar li .bethins_navbtn:hover {
        cursor: pointer; }

.bethins_topbottom {
  background-color: none !important; }

.padded {
  padding: 1em; }

.flow_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .flow_cards .card {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white; }
    .flow_cards .card p, .flow_cards .card h1, .flow_cards .card h2, .flow_cards .card h3 {
      font-size: 100% !important; }

.hanging {
  margin-top: 4em;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.bethins_form {
  width: 100%; }
  .bethins_form input[type='text'], .bethins_form input[type='password'], .bethins_form input[type='email'] {
    display: block;
    outline: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    height: 32px;
    width: 100%; }
  .bethins_form input, .bethins_form h1, .bethins_form h2, .bethins_form h3, .bethins_form h4, .bethins_form h5 {
    margin-bottom: 1em; }

@media screen and (max-width: 700px) {
  .hero h1, .hero h2 {
    font-size: 3em; }
  .hero p {
    font-size: 1.25em; }

  .hanging {
    width: 80%; } }

/*# sourceMappingURL=style.css.map */
