{% extends 'layout.html' %}


{% block content %}
    <div class='hero centered_content wrap' bg='
    {{ url_for("static", filename="image/casino.jpg") }},
    {{ url_for("static", filename="image/scraper.jpg") }},
    {{ url_for("static", filename="image/man.jpg") }}
    ' slide='true'>
        <section class='centered_content wrap'>
            <h2>Bethins.com</h2>
            <p class='padded'>Place a bet today</p>
            <a class='hero_btn' href='/register'>Start betting</a>
        </section>
    </div>

{% endblock %}
