{% extends 'layout.html' %}


{% block content %}
    <div class='hero' bg='
    {{ url_for("static", filename="image/casino.jpg") }},
    {{ url_for("static", filename="image/scraper.jpg") }},
    {{ url_for("static", filename="image/man.jpg") }}
    ' slide='true'>
        <section>
            <h2>Bethins.com</h2>
            <span class='centered_content padded'>
                <p>Start betting now</p>
            </span>
            <span class='centered_content padded'>
                <a class='hero-btn'>Register</a>
            </span>
        </section>
    </div>
    <div class='flow_cards'>
        <div class='card' bg='{{ url_for("static", filename="image/football.jpg") }}'>
            <h2>Football</h2>
        </div>
        <div class='card' bg='{{ url_for("static", filename="image/hockey.jpg") }}'>
            <h2>Hockey</h2>
        </div>
        <div class='card' bg='{{ url_for("static", filename="image/tennis.jpg") }}'>
            <h2>Tennis</h2>
        </div>
        <div class='card' bg='{{ url_for("static", filename="image/gaming.jpg") }}'>
            <h2>Gaming</h2>
        </div>
        <div class='card' bg='{{ url_for("static", filename="image/cards.jpg") }}'>
            <h2>Gambling</h2>
        </div>
    </div>
{% endblock %}
