<!DOCTYPE html>
<html>
    <head>
        <link
        rel='stylesheet'
        type='text/css'
        href='{{ url_for("static", filename="css/style.css") }}'>
        <link
        href='https://fonts.googleapis.com/css?family=Nobile'
        rel='stylesheet'
        type='text/css'>
        
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class='bethins_splitview'>
            <nav class='part bethins_sidebar'>
                <section class='part'>

                </section>
                <section class='part'></section>
            </nav>
            <div class='part'>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</html>
