<!DOCTYPE html>
<html>
    <head>
        <link
        rel='stylesheet'
        type='text/css'
        href='{{ url_for("static", filename="css/style.css") }}'>
        <link
        rel='stylesheet'
        type='text/css'
        href='{{ url_for("static", filename="js/chartist-js/dist/chartist.min.css") }}'>
        <link
        href='https://fonts.googleapis.com/css?family=Nobile'
        rel='stylesheet'
        type='text/css'>

        <script
        type='text/javascript'
        src='{{ url_for("static", filename="js/chartist-js/dist/chartist.min.js") }}'></script>
        <script
        type='text/javascript'
        src='{{ url_for("static", filename="js/bethins/backgrounds.js") }}'></script>
                
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class='bethins_navbar'>
            <ul class='left'>
            </ul>
            <ul class='right'>
                {% if is_loggedin() %}
                    <li><a class='bethins_navbtn'>Joseph</a></li>
                    <li><a class='bethins_navbtn'>Logout</a></li>
                {% else %}
                    <li><a class='bethins_navbtn'>Login</a></li>
                    <li><a class='bethins_navbtn'>Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</html>
