{% extends 'layout.html' %}
{% from '_formhelpers.html' import render_field %}


{% block content %}
    <div class='hanging'>
        <form class='bethins_form' method='post'>
            <section>
                <h2>Login</h2>
                {{ render_field(form.user_name) }}
                {{ render_field(form.password) }}
                {{ render_field(form.submit) }}
            </section>
            {% if msg is not none %}
                <section>
                    <p>{{ msg }}</p>
                </section>
            {% endif %}
        </form>
    </div>
{% endblock %}
